:root {
  overflow: hidden;
  user-select: none;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.container {
  white-space: pre-line;
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
}

.container2 {
  white-space: pre-line;
  margin-left: 150px;
  padding-top: 0vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
}

.right-bottom {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.left-top {
  position: fixed;
  left: 5px;
  top: 5px;
}

.left-top-for-nav {
  height: 100vh;
  background-color: #ffffff;
  width: 150px;
  position: fixed;
  left: 0px;
  top: 0px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row2 {
  display: flex;
  flex-direction: row;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

p {
  user-select:none;
  line-height: 3;
}

a:hover {
  user-select:none;
  color: #535bf2;
}

h1 {
  /*font-family: MiSans;*/
  user-select:none;
  text-align: center;
}

#greet-input {
  margin-right: 5px;
}

@font-face {
  font-family: "MiSans";
  src: url("./assets/fonts/MiSans-Medium.ttf");
}

@media (prefers-color-scheme: dark) {
  .left-top-for-nav{
    background-color: #0f0f0f;
  }
  .select-wrapper::after {
    color: #f6f6f6;
  }

  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button,
  select {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  button:active {
    background-color: #0f0f0f69;
  }
}