/* Finality Framework Components CSS */
input,
button,
select {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #0f0f0f;
    background-color: #ffffff;
    transition: background-color 0.2s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

input,
button,
select {
    outline: none;
}

/* Button Styles */
button {
    user-select: none;
    cursor: pointer;
}

button:hover {
    color: #f6f6f6;
    background-color: #396cd8;
}

button.nav-button {
    text-align: start;
    display: block;
    width: 150px;
    border-radius: 0%;
    height: fit-content;
    box-shadow: none;
}

button.nav-button:hover {
    color: whitesmoke;
    background-color: rgba(128, 128, 128, 0.329);
}

button.nav-button.active,
button.active,
button:active {
    color: whitesmoke;
    border-color: #396cd8;
    background-color: #396cd8;
}


button.menu-button{
    margin-bottom: 12px;
    padding: 0.2em 0.2em;
    position: relative;
    left : 0px;
    box-shadow: none;
    background-color: transparent;
}

button.menu-button:hover {
    color:#0f0f0f;
    background-color: rgba(128, 128, 128, 0.329);
}

button.menu-button:active{
    background-color: #396cd8;
}

button.icon-button:hover {
    background-color: rgba(128, 128, 128, 0.329);
}

/* Button Style End */

/* Select Styles */
select {
    appearance: none;
    padding-right: 18%;
}


select:hover {
    color: #f6f6f6;
    background-color: #396cd8;
}

/* add a down-triangle to select */
.select-wrapper {
    display: flex;
    position: relative;
}

.select-wrapper::after {
    color: #2f2f2f;
    content: "▼";
    font-size: 1rem;
    top: 11px;
    right: 22px;
    position: relative;
    transition: background-color 0.25s;
}

.select-wrapper:hover::after {
    color: #f6f6f6;
}

/* Icon */
.icon {
    filter: brightness(0);
}
.icon-toolbar {
    position: relative;
    right: -24px;
    filter: brightness(0);
}


.page-h1 {
    margin-top: 48px;
    margin-bottom: 36px;
    text-align: start;
}

input[type="checkbox"] {
    appearance: none;
    width: 64px;
    height: 32px;
    position: relative;
    border-radius: 16px;
    cursor: pointer;
    background-color: #777;
}

input[type="checkbox"]:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    left: 2px;
    top: 5px;
    border-radius: 50%;
    transition: left cubic-bezier(0.3, 1.5, 0.6, 1) 0.2s, top 0.2s, left 0.2s, width 0.2s, height 0.2s;
}

input[type="checkbox"]:hover {
    background-color: #838383;
}

input[type="checkbox"]:hover::before {
    width: 22px;
    height: 22px;
    left: 3px;
    top: 4px;
}

input[type="checkbox"]:checked {
    background-color: #396cd8;
}

input[type="checkbox"]:checked:before {
    left: 38px;
}

input[type="checkbox"]:checked:after {
    color: black;
}

.loading-mask {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2f2f2f;
    pointer-events: none;
    transition: opacity 0.2s;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    button.menu-button:hover {
        color:#f6f6f6;
        background-color: rgba(128, 128, 128, 0.329);
    }
    .icon-toolbar {
        filter: brightness(100);
    }
    
    .select-wrapper::after {
        color: #f6f6f6;
    }

    .icon {
        filter: brightness(100);
    }

    :root {
        color: #f6f6f6;
        background-color: #2f2f2f;
    }

    a:hover {
        color: #24c8db;
    }

    input,
    button,
    select {
        color: #ffffff;
        background-color: #0f0f0f98;
    }

    button.nav-button {
        background-color: rgba(87, 87, 87, 0.0);
    }

    button.nav-button.active,
    button.active button.nav-button:active,
    button:active {
        border-color: #396cd8;
        background-color: #396cd8;
    }

}